.App {
  text-align: center;
}

.card {
  width: 20vw;
  margin: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card img {
  height: 20vh;
}

.flex-column {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

label {
  font-weight: bolder;
  margin-left: 5vw;
}

.attribute {
  font-weight: 400;
  margin-left: 20px;
}