.App {
  text-align: center;
}

.card {
  width: 20vw;
  margin: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card img {
  height: 20vh;
}
